.banner{
 background: url("https://ticotravel.com.vn/wp-content/uploads/2022/06/top-20-dac-san-Phu-Yen-5.jpg") no-repeat center center;
 font-size: 2rem;
 background-size: cover;
 padding-top: 12rem;
 padding-bottom: 12rem;
 text-align: center !important;
 color: darked !important;
}
.slogan {
    text-align: center !important;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: lightyellow;
}
.block_3 {
    font-size: 1.5rem;
    flex: 0 0 auto;
    width: 30%;
    margin: 10px;
}
footer {
    background-color: lightgrey;
    margin: 1px;
    padding: 10px;
}
.link {
    color: navy;
    text-align: left;
}
.cell_img {
    width: 50%;
}
.cell_text {
    font-size: 2rem;
    width: 50%;
    padding-left: 5rem;
}
.img {
    width: 100%;
    height: 100%;
}
.menu {
    font-size: 120%;
    text-decoration: none;
}
.cell {
    text-align: justify;
    padding: 1.5em;
}
.img1 {
    width: 100%;
    height: 85%;
